#bt3{
    background-color:#77D970;
    border-radius: 15px;
}
#dropdownMenuButton1{
    background-color:#77D970;
    border-radius: 15px;
}
#bt4{
    background-color:#77D970;
    border-radius: 15px;
}
#bt5{
    background-color:#77D970;
    border-radius: 15px;
}